<section class="my-form" *ngIf="article">
        <mat-form-field class="full-width">
            <input matInput placeholder="Title" [(ngModel)]="article.title" name="title" required>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Subtitle" [(ngModel)]="article.subTitle" name="subtitle">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Summary - this will appear on summary pages across the site" 
            [(ngModel)]="article.summary" name="summary">
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <input matInput placeholder="Author" [(ngModel)]="article.author" name="author" required>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput [matDatepicker]="publihDatePicker" placeholder="Publish date" 
                [(ngModel)]="article.publishDate" name="publishDate" required>
            <mat-datepicker-toggle matSuffix [for]="publihDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #publihDatePicker></mat-datepicker>
        </mat-form-field>

        
        <img src="{{article.headerImage}}" alt="article main image" style="height: 350px;" />
        

        <input #csvInput hidden="true" type="file" onclick="this.value=null" 
            (change)="csvInputChange($event)" accept=".jpg,.png"/>

        <button mat-flat-button color="secondary" (click)="csvInput.click()">Select main image</button>
</section>