<section class="box" *ngIf="articleSummary">
        <header>
            <h3>More Sales News</h3>
        </header>
        <p>Veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et feugiat sed lorem consequat
            feugiat lorem dolore.</p>
        <ul class="divided">
                <li *ngFor="let summary of articleSummary">
                    <a [routerLink]="['/articles', summary.id]">{{summary.title}}</a>
                </li>
        </ul>
        <footer>
            <a href="#" class="button alt">Ipsum consequat</a>
        </footer>
    </section>

    <section class="box">
        <header>
            <h3>Lorem?</h3>
        </header>
        <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et
            feugiat phasellus tempus dolore ipsum lorem dolore.</p>
        <footer>
            <a href="#" class="button alt">Magna sed taciti</a>
        </footer>
    </section>