.box {
    width: 66em;
    margin: 0 0 3em 0;
    h1
    {
        font-size: 1.6em;
    }
    .article-summary {
        border-bottom: #dcdcdc solid 1px;
        padding: 2em 0;
        margin: 0;
        .title {
            font-size: 1.3em;
            vertical-align: top;
        }
        .publish-date {
            left: 0;
            top: 1.3em;
            background-color: #d52349;
            font-size: 2em;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
            color: #fff;
            line-height: 1em;
            padding: 1em;
            float: left;
            margin: 0 0.5em 0 0;
            height: 140px;
            width: 140px;
        }
        .summary-text {
            font-size: 1.1em;
            vertical-align: top;
        }
        .image {
            float: left;
            margin: 0 1em 0 0;
            height: 140px;
            width: 240px;
        }
    }
}