<div class="col-md-12 box">
  <h1>Article manager</h1>

  <mat-spinner *ngIf="!article"></mat-spinner>

  <mat-horizontal-stepper *ngIf="article" (selectionChange)="getArticleData($event)">
    <mat-step label="Basic info" state="phone">
      <app-publisher-step1 [article]="article"></app-publisher-step1>
      <div class="stepper-buttons-container">
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Content" state="chat">
      <app-publisher-step2 [article]="article"></app-publisher-step2>
      <div class="stepper-buttons-container">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Attachments">
      <app-publisher-step3 [article]="article"></app-publisher-step3>
      <div class="stepper-buttons-container">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Preferences">
      <div class="stepper-buttons-container">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Location">
      <app-publisher-step5 [article]="article"></app-publisher-step5>
      <div class="stepper-buttons-container">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Preview">
      <h2>Ready to publish ></h2>
      <app-publisher-step6 [article]="article"></app-publisher-step6>
      <div class="stepper-buttons-container">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="saveArticle()">Publish</button>
      </div>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
</div>