<section class="box" *ngIf="articleSummaryByTagPath">
        <header>
            <h3>More from: {{ tagPath }}</h3>
        </header>
        <ul class="divided">
                <li *ngFor="let summary of articleSummaryByTagPath">                    
                    <a [routerLink]="['/' + summary.path + '/articles', summary.id]">
                        <img src="{{summary.headerImage}}" alt="article main image" style="width: 370px;" /><br/>
                        {{summary.title}}
                    </a>
                </li>
        </ul>
        <footer>
            <a [routerLink]="'/' + tagPath" class="button alt">View more</a>
        </footer>
    </section>

    <section class="box">
        <header>
            <h3>Lorem?</h3>
        </header>
        <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et
            feugiat phasellus tempus dolore ipsum lorem dolore.</p>
        <footer>
            <a href="#" class="button alt">Magna sed taciti</a>
        </footer>
    </section>