<!-- Content -->
<article class="box post" *ngIf="article">
    <a href="#" class="image featured" *ngIf="article.headerImage">
        <img src="{{article.headerImage}}" alt="">
    </a>
    <header>
        <h1>{{article.title}}</h1>
        <p>{{article.subTitle}}</p>
    </header>
    <section [innerHTML]="article.content"></section>
    <section id="attachments" *ngIf="article.attachments.length > 0">
        <h4>attachments</h4>
        <li *ngFor="let attachment of article.attachments">
            <a (click)="downloadFile(attachment)">{{attachment}}</a>
        </li>        
    </section>
</article>